p {
  color: black;
}

img {
  border-radius: 8px;
}

.button {
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#left{    
 float: left;  
 } 

 #right{    
 float: right;  
 } 