/* Style the links inside the pill navigation menu */
.pill-nav a {
  display: inline-block;
  color: black;
  background-color: lightblue;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 15px;
}

/* Change the color of links on mouse-over */
.pill-nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.pill-nav a.active {
  background-color: dodgerblue;
  color: white;
}

.hidden {
  display: none;
}

.margin{
  margin-left: 10%;
  margin-right: 10%;
}